.App {
  font-family: sans-serif;
  text-align: center;
}
.quadriaticFormula {
  padding: 2px;
  font-size: 2.4rem;
}

input {
  background-color: rgb(209, 196, 180);
  width: 38px;
  font-size: 1.7rem;
}

.binomialsForm {
  font-size: 2rem;
}
.squareContainer {
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  border: 5px solid black;
  height: 100px;
  padding-top: 20px;
  margin:2px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(199, 230, 219);
  font-size: 2rem;
  animation: slow 6s ease forwards;
}

.display {
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

.topX {
  padding-top: 60px;
  grid-column-start: 2;
  color: red;
}

.bottomX {
  padding-top: 40px;
  grid-column-start: 1;
  text-align: right;
  color: rgb(0, 17, 255);
}

.topNumber {
  padding-top: 60px;
  grid-column-start: 3;
  color: red;
  transition-timing-function: ease-in;
}

.bottomNumber {
  padding-top: 40px;
  grid-row-start: 3;
  text-align: right;
  color: rgb(0, 17, 255);
  
}


.squareTL {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;

}
.squareTR {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 3;

}
.squareBL {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3;

}
.squareBR {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 3;

}