

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  padding-bottom: 200px;
}
.quadriaticFormula {
  margin-top: 50px;
  font-size: 2.4rem;
  color: white;
}

h1{
  color: white;
}

input {
  background-color: #60bfda;
  width: 55px;
  font-size: 1.7rem;
}

.binomialsForm {
  color: azure;
  font-size: 2rem;
}
.squareContainer {
  display: grid;
  grid-template-columns: 2fr 6fr 6fr;
  grid-template-rows: 2fr 3fr 3fr;
  grid-gap: 4px;
  margin-right: 40px;
}

.square {
  border: 3px solid rgb(132, 0, 255);
  min-width: 145px;
  max-width: 200px;
  padding-top: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #60bfda;
  font-size: 2rem;
}

.display {
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

.topX {
  padding-top: 60px;
  grid-column-start: 2;
  color: rgb(255, 255, 255)
}

.bottomX {
  padding-top: 40px;
  grid-column-start: 1;
  text-align: right;
  color: rgb(255, 255, 255);
}

.topNumber {
  padding-top: 60px;
  grid-column-start: 3;
  color: rgb(255, 255, 255);
  transition-timing-function: ease-in;
}

.bottomNumber {
  padding-top: 40px;
  grid-row-start: 3;
  text-align: right;
  color: rgb(255, 255, 255)
  
}


.squareTL {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;

}
.squareTR {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 3;

}
.squareBL {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3;

}
.squareBR {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 3;

}